<div id="div-inputs">
	Nouns: <input title="Nouns" id="noun-input" type="text" placeholder="Noun, Noun, Noun, Noun" ng-model="noun" ng-list=", ">
	Verbs: <input title="Verbs" id="verb-input" type="text" placeholder="Verb, Verb, Verb, Verb" ng-model="verb" ng-list=", ">
	Adjectives: <input title="Adjectives" id="adjective-input" type="text" placeholder="Adjective, Adjective, Adjective, Adjective" ng-model="adj" ng-list=", ">
	Adverbs: <input title="Adverbs" id="adverb-input" type="text" placeholder="Adverb, Adverb, Adverb, Adverb" ng-model="adv" ng-list=", ">
</div>

<div id="story-choice"
	<form id="radio-buttons">
		<input type="radio" name="story-radio" value="school" id="school" ng-model="story">School
		<input type="radio" name="story-radio" value="halloween" id="halloween" ng-model="story">Halloween
		<input type="radio" name="story-radio" value="mall" id="mall" ng-model="story">The Mall
	</form>
</div>
